MYSQL_DATABASE=latam_job_board
MYSQL_USER=latam
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

APP_DOMAIN=latam-job-board.igorcoutinho.com
APP_URL=https://latam-job-board.igorcoutinho.com

VITE_API_URL=

DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=deepseek-v4-flash
